:root {
    --footer-backdrop-filter: initial;
    --footer-background-color: var(--yellow-rgb);
    --footer-background-color-opacity: 1;
    --footer-box-shadow: initial;
    --footer-padding-x: 0;
    --footer-padding-y: 3.75rem;
    --footer-border-radius: 0;
    --footer-font-size: 1rem;
    --footer-line-height: 1.031rem;
    --footer-text-color: var(--grey-700-rgb);
    --footer-text-color-opacity: 1;
    --hr-background-color: var(--grey-700-rgb);
}

.footer {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: var(--footer-padding-y) var(--footer-padding-x);
    background: rgba(
        var(--footer-background-color),
        var(--footer-background-color-opacity)
    );
    backdrop-filter: var(--footer-backdrop-filter);
    border-radius: var(--footer-border-radius);
    box-shadow: var(--footer-box-shadow);
    font-size: var(--footer-font-size);
    line-height: var(--footer-line-height);
    letter-spacing: 0.05em;
    color: rgba(var(--footer-text-color), var(--footer-text-color-opacity));
    overflow: hidden;
    &-inner {
        & > .row {
            --bs-gutter-x: 3.75rem;
            --bs-gutter-y: 3.75rem;
        }
    }
    &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 1200px) {
            flex-direction: row;
            row-gap: 1.875rem;
            column-gap: 1.875rem;
        }
    }
    &-start {
        display: flex;
        width: 100%;
        height: 100%;
        @media (min-width: 1200px) {
            width: 25rem;
        }
        & > .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 2rem;
            @media (min-width: 768px) {
                --bs-gutter-x: 2.5rem;
                --bs-gutter-y: 2.5rem;
            }
        }
    }
    &-middle {
        position: relative;
        z-index: 1;
        width: 100%;
        & > .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 2rem;
            @media (min-width: 768px) {
                --bs-gutter-x: 2.5rem;
                --bs-gutter-y: 2.5rem;
            }
        }
    }
    &-end {
        position: relative;
        z-index: 1;
        display: flex;
        @media (min-width: 1200px) {
            width: 12.75rem;
            justify-content: flex-end;
            text-align: right;
        }
        & > .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 2rem;
            @media (min-width: 768px) {
                --bs-gutter-x: 2.5rem;
                --bs-gutter-y: 2.5rem;
            }
        }
    }
    &-link {
        text-decoration: none;
        transition: color 0.4s ease;
        &:hover {
            color: rgba(var(--grey-300-rgb), 1);
        }
        &:focus,
        &:active {
            color: rgba(var(--white-rgb), 1);
            text-decoration: underline;
            text-underline-offset: 0.25rem;
        }
    }
    &-social {
        & > .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 2rem;
            @media (min-width: 1200px) {
                --bs-gutter-x: 0.625rem;
                --bs-gutter-y: 0.625rem;
                flex-direction: column;
                align-items: flex-end;
            }
            & .btn {
                --bs-btn-size: 3.75rem;
                --bs-btn-border-radius: 0.94rem;
            }
        }
    }
    &-copyright {
        & > .row {
            --bs-gutter-x: 0.625rem;
            --bs-gutter-y: 0.625rem;
        }
    }
}
