:root {
    --section-cover-content-padding-y: 3.125rem;
}

.section-cover {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--yellow);
        transform: translateY(-100%);
    }
    &-inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 17.313rem;
        background: var(--yellow);
        @media (min-width: 768px) {
            min-height: 34.06rem;
        }
        @media (min-width: 992px) {
            min-height: 54.06rem;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 45%;
            background-image: linear-gradient(180deg, rgba(255, 220, 85, 0) 0%, #ffdc55 100%);
        }
    }
    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 20/9;
        background-image: url("/public_html/assets/images/pages/main/sections/cover/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25%;
            background-image: linear-gradient(180deg, rgba(255, 220, 85, 0) 0%, #ffdc55 100%);
        }
        & > * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
        width: 100%;
        height: 100%;
        padding: var(--section-cover-content-padding-y) 0;
        @media (min-width: 1200px) {
            padding: 0 0 var(--section-cover-content-padding-y) 0;
        }
        & > .container {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
        }
    }
    &-context {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        flex: 1;
    }
    &-title {
        font-weight: 300;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-shadow: 0 0 0.13rem rgba(var(--true-black-rgb), 0.25);
        @media (min-width: 768px) {
            font-size: 2rem;
        }
        @media (min-width: 1200px) {
            font-size: 2.25rem;
        }
    }
    &-next {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: fit-content;
        height: 8rem;
        @media (min-width: 768px) {
            height: 12rem;
        }
        @media (min-width: 1200px) {
            height: 15rem;
        }
    }
    &-arrow {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 3.25rem;
        height: 8rem;
        pointer-events: none;
        user-select: none;
        transform: translate(-50%, 0);
        @media (min-width: 768px) {
            width: 5rem;
            height: 12rem;
        }
        @media (min-width: 1200px) {
            width: 7rem;
            height: 15rem;
        }
        & > * {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-subtitle {
        position: relative;
        z-index: 1;
        font-weight: 300;
        font-size: 2.25rem;
        text-transform: uppercase;
        @media (min-width: 1200px) {
            font-size: 4.12rem;
        }
    }
}
