@import "../../utilities/mixins.scss";

:root {
    --section-read-padding-y: 3.75rem;
    --section-read-inner-gap: 1.875rem;
    --section-target-content-gap: 1.875rem;
}

.section-read {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: var(--section-read-padding-y) 0;
    background-color: var(--yellow);
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        position: absolute;
        @media (min-width: 1200px) {
            top: 50%;
            width: 8.5rem;
            height: 100%;
            // height: 28rem;
            background-image: url("/public_html/assets/images/pages/main/sections/read/bg.svg");
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }
        @media (min-width: 1600px) {
            width: 12.5rem;
            // height: 35rem;
        }
    }
    &::before {
        @media (min-width: 1200px) {
            left: 0;
            background-position: 100% 50%;
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &::after {
        right: 0;
        @media screen and (max-width: 1199.98px) {
            top: 0;
            width: 10.125rem;
            height: 10.125rem;
            background-image: url("/public_html/assets/images/pages/main/sections/read/bg-xs.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0% 50%;
        }
        @media (min-width: 1200px) {
            background-position: 100% 50%;
        }
    }
    &-inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: var(--section-target-content-gap);
        column-gap: var(--section-target-content-gap);
        @media (min-width: 992px) {
            display: grid;
            grid-row-gap: var(--section-read-inner-gap);
            grid-column-gap: var(--section-read-inner-gap);
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
    &-header {
        display: flex;
        flex-direction: column;
        order: 0;
        padding-top: 0.5rem;
        @media (min-width: 992px) {
            grid-area: 1 / 1 / 2 / 7;
            padding-top: unset;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        row-gap: var(--section-target-content-gap);
        column-gap: var(--section-target-content-gap);
        order: 2;
        @media (min-width: 992px) {
            grid-area: 2 / 1 / 4 / 7;
            order: 1;
        }
    }
    &-picture {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 25rem;
        order: 1;
        transition: 0.4s ease;
        &:hover {
            @include scaleObjectMd;
        }
        @media (min-width: 768px) {
            width: 18.75rem;
            height: 100%;
        }
        @media (min-width: 992px) {
            grid-area: 1 / 7 / 4 / 9;
            order: 2;
        }
        @media (min-width: 1200px) {
            width: 23.063rem;
        }
        & > * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {
        position: relative;
        z-index: 1;
        width: fit-content;
        transform-origin: left center;
        transition: 0.4s ease;
        &:hover {
            @include scaleObjectXl;
        }
    }
    &-subtitle {
        font-weight: 300;
        font-size: 1.5rem;
        text-transform: uppercase;
        @media (min-width: 1200px) {
            font-size: 2rem;
        }
    }
    &-button {
        & > .btn {
            width: 100%;
            @media (min-width: 768px) {
                width: 33.125rem;
            }
        }
    }
    &-list {
        padding-top: 1.875rem;
        @media (min-width: 992px) {
            padding-top: unset;
        }
        & ul {
            & li {
                font-weight: 300;
                font-size: 1rem;
                line-height: 150%;
                letter-spacing: 0.05em;
                @media (min-width: 1200px) {
                    font-size: 1.62rem;
                }
                &:not(:first-of-type) {
                    margin-top: 1.875rem;
                }
            }
        }
    }
}
