@import "../parts/photo-card";

:root {
    --section-photo-padding-y: 3.75rem;
    --section-photo-background: var(--white);
}

.section-photo {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: var(--section-photo-padding-y) 0;
    &-inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: var(--section-post-inner-gap);
        column-gap: var(--section-post-inner-gap);
        width: 100%;
    }
    &-swiper {
        position: relative;
        z-index: 1;
        & .swiper-container {
            overflow: visible;
        }
        & .swiper-slide,
        & swiper-slide {
            width: fit-content;
        }
        & .swiper-btn {
            width: 3.125rem;
            height: 3.125rem;
            cursor: pointer;
            @media (min-width: 768px) {
                width: 5.375rem;
                height: 5.375rem;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &:is(.swiper-button-disabled) {
                opacity: 0.25;
            }
        }
        & .swiper-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            row-gap: 1.875rem;
            column-gap: 1.875rem;
            justify-content: space-between;
            @media screen and (max-width: 767.98px) {
                position: absolute;
                z-index: 1;
                width: 100%;
            }
            @media (min-width: 768px) {
                position: relative;
                z-index: 5;
                width: 100%;
                height: 100%;
                justify-content: flex-start;
                margin-top: 1.44rem;
            }
            & > * {
                @media screen and (max-width: 767.98px) {
                    &:nth-child(1) {
                        position: absolute;
                        top: -50%;
                        left: 0;
                        z-index: 1;
                        transform: translateY(-225%);
                    }
                    &:nth-child(2) {
                        position: absolute;
                        top: -50%;
                        right: 0;
                        z-index: 1;
                        transform: translateY(-225%);
                    }
                }
                &:last-of-type {
                    display: none;
                    @media (min-width: 768px) {
                        display: block;
                    }
                }
            }
        }
        & .photos-scrollbar {
            --swiper-scrollbar-drag-bg-color: linear-gradient(90deg, #ffaf01 0%, #ff7401 100%);
            --swiper-scrollbar-border-radius: 2.5rem;
            --swiper-scrollbar-margin-left: 2.06rem;
            display: flex;
            align-items: center;
            width: calc(100% - var(--swiper-scrollbar-margin-left));
            margin-left: var(--swiper-scrollbar-margin-left);
            height: 100%;
            & .swiper-scrollbar-drag {
                height: 0.625rem;
            }
        }
    }
}
