:root {
    --bs-modal-bg: var(--white-rgb);
    --bs-modal-bg-opacity: 1;
    --bs-modal-backdrop-bg: var(--grey-900-rgb);
    --bs-modal-backdrop-bg-opacity: 1;
    --bs-modal-border-radius: 0;
    --bs-modal-padding-y: 3.75rem;
    --bs-modal-padding-x: 1.875rem;
    --bs-modal-body-padding: var(--bs-modal-body-padding-y) var(--bs-modal-body-padding-x);
    --bs-modal-body-padding-y: 1.5625rem;
    --bs-modal-body-padding-x: 0;
    --bs-modal-zindex: 1050;
    --modal-close-size: 2.5rem;
    @media (min-width: 768px) {
        --bs-modal-padding-y: 6.25rem;
        --bs-modal-padding-x: 3.75rem;
        --bs-modal-backdrop-bg: var(--grey-900-rgb);
        --bs-modal-backdrop-bg-opacity: 0.85;
        --bs-modal-border-radius: 3.75rem;
    }
}

.modal {
    position: fixed;
    background-color: rgba(var(--bs-modal-backdrop-bg), var(--bs-modal-backdrop-bg-opacity));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    overflow-x: hidden;
    overflow-y: auto;
    transition:
        opacity 0.4s ease-in-out,
        visibility 0.4s ease-in-out,
        background-color 0.4s ease-in-out;
    &-is {
        &-open {
            position: static;
            touch-action: none;
            overflow: hidden;
        }
    }
    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    &-dialog {
        position: relative;
        z-index: 1;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: auto;
        @media (min-width: 768px) {
            max-width: 44rem;
        }
        @media (min-width: 992px) {
            max-width: 58rem;
        }
        @media (min-width: 1200px) {
            max-width: 70rem;
        }
    }
    &-body {
        padding: var(--bs-modal-body-padding-y) 0 0 0;
    }
    &-content {
        position: relative;
        z-index: 1;
        padding: var(--bs-modal-padding-y) var(--bs-modal-padding-x);
        border-radius: var(--bs-modal-border-radius);
        background: rgba(var(--bs-modal-bg), var(--bs-modal-bg-opacity));
        max-width: fit-content;
        min-width: 18.75rem;
        min-height: 100%;
        margin: auto;
        overflow: hidden;
        @media (min-width: 768px) {
            min-height: unset;
        }
    }
    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &-close {
        appearance: none;
        position: absolute;
        top: var(--bs-modal-padding-y);
        right: var(--bs-modal-padding-x);
        z-index: 10;
        width: var(--modal-close-size);
        height: var(--modal-close-size);
        background-image: url("/public_html/assets/images/block/modals/close.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: unset;
        border: none;
        outline: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        text-transform: none;
        transition: transform 0.4s ease-in-out;
        &:hover {
            transform: rotate(90deg);
        }
    }
    &-title {
        font-weight: 600;
        font-size: 2.25rem;
    }
    &-form {
        & .modal-body {
            & .register-form {
                --bs-gutter-x: 1.875rem;
                --bs-gutter-y: 1.875rem;
            }
            & .form-control {
                --form-font-size: 1.12rem;
                --form-line-height: 150%;
                --form-font-weight: 300;
                --form-letter-spacing: 0.1em;
                --form-border-color: var(--grey-300-rgb);
                text-transform: uppercase;
            }
            & .form-floating {
                & > label {
                    font-size: 1.12rem;
                    line-height: 150%;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }
        }
    }
    &-narrow {
        & .modal-dialog {
            @media (min-width: 768px) {
                max-width: 38rem;
            }
            @media (min-width: 992px) {
                max-width: 38rem;
            }
            @media (min-width: 1200px) {
                max-width: 38rem;
            }
        }
    }
    &-media {
        overflow: hidden;
        & .modal-dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            max-width: 100% !important;
            display: flex;
            flex-direction: column;
            transform: translate(-50%, -50%);
        }
        & .modal-content {
            --bs-modal-bg-opacity: 0;
            --bs-modal-padding-x: 0;
            --bs-modal-padding-y: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 20rem;
        }
        & .modal-body {
            --bs-modal-body-padding-y: var(--modal-close-size);
            --bs-modal-body-padding-x: 0;
            max-width: 100%;
            max-height: 100%;
            padding: calc(var(--bs-modal-body-padding-y) * 1) var(--bs-modal-body-padding-x)
                calc(var(--bs-modal-body-padding-y) / 2);
            overflow: hidden;
        }
        &-wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: hidden;
            & > * {
                position: relative;
                z-index: 2;
                border: 0;
                align-self: center;
                max-width: 100%;
                width: max-content;
                height: auto;
                max-height: 100%;
                border-radius: 0;
                object-fit: contain;
                @media (min-width: 768px) {
                    max-width: 50rem;
                }
                @media (min-width: 1200px) {
                    max-width: 75rem;
                }
                &:is(iframe),
                &:is(video) {
                    min-width: 100vw;
                    aspect-ratio: 16 / 9;
                    @media (min-width: 768px) {
                        min-width: 50rem;
                    }
                    @media (min-width: 1200px) {
                        min-width: 75rem;
                    }
                }
            }
        }
        &-swiper {
            position: relative;
            z-index: 1;
            width: 100%;
            & .swiper-btn {
                position: absolute;
                top: 50%;
                z-index: 5;
                width: 2.125rem;
                height: 2.125rem;
                cursor: pointer;
                transform: translate(0, -50%);
                @media (min-width: 768px) {
                    width: 4.375rem;
                    height: 4.375rem;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &:is(.swiper-button-disabled) {
                    opacity: 0.25;
                }
                &:is(.media-btn-prev) {
                    left: 0;
                }
                &:is(.media-btn-next) {
                    right: 0;
                }
            }
        }
    }
}
