@import "../../../utilities/mixins.scss";

:root {
    --author-card-aspect-ratio: 1 / 1;
    --author-card-inner-gap: 0.938rem;
    --author-card-content-gap: 0.625rem;
    --author-card-image-radius: 0.31rem;
    @media (min-width: 768px) {
        --author-card-aspect-ratio: 1 / 1.15;
    }
    @media (min-width: 1200px) {
        --author-card-inner-gap: 1.875rem;
    }
}

.author-card {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &-inner {
        display: flex;
        flex-direction: column;
        row-gap: var(--author-card-inner-gap);
        column-gap: var(--author-card-inner-gap);
    }
    &-image {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        aspect-ratio: var(--author-card-aspect-ratio);
        border-radius: var(--author-card-image-radius);
        background-color: var(--yellow);
        overflow: hidden;
        transition: transform 0.4s ease;
        & > img,
        & > image,
        & > picture,
        & > svg,
        & > object {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-icon {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        z-index: 1;
        width: fit-content;
        height: fit-content;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.4s ease-in-out,
            visibility 0.4s ease-in-out;
    }
    &-label {
        position: absolute;
        bottom: 0.625rem;
        left: 0.625rem;
        z-index: 1;
        width: fit-content;
        height: fit-content;
        border-radius: 0.94rem;
        padding: 0.31rem 0.62rem;
        background-color: var(--white);
        color: var(--dark-blue);
    }
    &-content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: var(--author-card-content-gap);
        column-gap: var(--author-card-content-gap);
        width: 100%;
    }
    &-name {
        font-weight: 600;
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: var(--dark-blue);
    }
    &-description {
        font-weight: 300;
        font-size: 1.62rem;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: var(--dark-blue);
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-break: auto;
        overflow: hidden;
    }
    &:hover {
        & .author-card-image {
            @include scaleObjectMd;
        }
        & .author-card-icon {
            opacity: 1;
            visibility: visible;
        }
    }
}
