:root {
    --program-block-gap: 1.875rem;
    --program-block-content-gap: 0.9385rem;
    --program-block-content-padding-x: 0.625rem;
    --program-block-content-padding-y: 0.938rem;
    --program-block-box-shadow-color: var(--true-black-rgb);
    @media (min-width: 1200px) {
        --program-block-gap: 3.75rem;
        --program-block-content-gap: 1.875rem;
        --program-block-content-padding-x: 1.875rem;
        --program-block-content-padding-y: 3.75rem;
    }
}

.program-block {
    color: var(--dark-blue);
    &-inner {
        display: flex;
        flex-direction: column;
        row-gap: var(--program-block-gap);
        column-gap: var(--program-block-gap);
        @media (min-width: 992px) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &-nav {
        flex: 0 1 auto;
        @media (min-width: 992px) {
            width: 21.875rem;
        }
    }
    &-tabs {
        flex: 1;
    }
    &-content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: var(--program-block-content-gap);
        column-gap: var(--program-block-content-gap);
        padding: var(--program-block-content-padding-y) var(--program-block-content-padding-x);
        box-shadow: 0 0 3.125rem 0 rgba(var(--program-block-box-shadow-color), 0.25);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            height: 40.938rem;
            background-image: url("/public_html/assets/images/pages/posts/show/sections/program/content-bg.svg");
            background-position: 40% 100%;
            background-repeat: no-repeat;
            background-size: 200%;
            pointer-events: none;
            transform: translate(0%, 0%);
            @media (min-width: 768px) {
                width: 30.938rem;
                height: 30.938rem;
                background-size: contain;
                background-position: center center;
            }
        }
    }
    &-title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: 0.05em;
    }
    &-brief {
        font-weight: 300;
        font-size: 1.62rem;
        line-height: 150%;
        letter-spacing: 0.05em;
    }
    &-description {
        font-weight: 300;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0.05em;
    }
}
